<f:render partial="Subscription/RequestProfileHeadline" arguments="{_all}"/>
<div class="newsletter-block newsletter-edit row" id="block-newsletter-edit">
	<div class="col-lg-8 order-1 order-lg-0">
		<f:if condition="{settings.confirmationText}">
			<f:then>
				<f:format.html>{settings.confirmationText}</f:format.html>
			</f:then>
			<f:else>
				<p><f:translate key="tx_kdnnewsletter_profile.edit_info_confirm" /></p>
			</f:else>
		</f:if>
	</div>
</div>