<f:if condition="{contentObject.header} && {contentObject.header_layout} != 100">
	<f:then>
	</f:then>
	<f:else>
		<div class="newsletter-header">
			<h2 class="contentheading"><f:translate key="tx_kdnnewsletter_profile.headline" /></h2>
		</div>
	</f:else>
</f:if>