<f:render partial="Subscription/RequestProfileHeadline" arguments="{_all}"/>
<div class="newsletter-block newsletter-edit row" id="block-newsletter-edit">
	<div class="col-lg-8 order-1 order-lg-0">
		<f:if condition="{settings.introText}">
			<f:then>
				<f:format.html>{settings.introText}</f:format.html>
			</f:then>
			<f:else>
				<p><f:translate key="tx_kdnnewsletter_profile.edit_info" /></p>
			</f:else>
		</f:if>
		<f:flashMessages as="flashMessages">
			<f:for each="{flashMessages}" as="flashMessage">
				<div class="alert {flashMessage.class}">
					<f:if condition="{flashMessage.title}">
						<strong>{flashMessage.title}</strong><br>
					</f:if>
					<p>{flashMessage.message -> f:format.html()}</p>
				</div>
			</f:for>
		</f:flashMessages>
		<f:form action="edit" controller="Subscription" name="edit" id="form-newsletter-edit"
				class="form-horizontal form-validate" enctype="multipart/form-data" section="form-newsletter-edit">

			<div class="form-group row">
				<label for="email" class="col-md-4 control-label"><f:translate key="tx_kdnnewsletter_profile.email" />: <span class="required">*</span></label>
				<div class="control-wrap col-md-8">
					<f:form.textfield name="email" id="field-email" class="form-control validate validate-required validate-email" />
				</div>
			</div>

			<div class="form-group row form-submit">
				<div class="col-md-8 offset-md-4">
					<f:form.submit value="{f:translate(key: 'tx_kdnnewsletter_profile.form.next')}" class="btn btn-primary btn-submit" />
				</div>
			</div>

			<div class="form-group row required row-ba-notes">
				<label for="field-notes" class="col-md-4 control-label"><f:translate key="tx_kdnnewsletter_profile.form.notes" /> <span class="required">*</span></label>
				<div class="control-wrap col-md-8">
					<f:form.textfield name="notes" id="field-notes" class="form-control" value="{notes}" />
				</div>
			</div>
		</f:form>
	</div>
</div>