{namespace vh=In2code\Powermail\ViewHelpers}
{namespace kn=KDN\KdnNewsletter\ViewHelpers}

<f:layout name="Mail" />

	Render Powermail Optin Mail
	This Mail is send back to the user with an Optin Link that has to be clicked
	Mail will only be send, if Optin was enabled by editor


	{mail}							Complete Mail Object
	{hash}							Hash for optin URI
	{settings}						TypoScript Settings


<f:section name="main">
	<p><f:translate key="optin_ba_thank_you" /></p>
	<p><f:translate key="optin_mail_link" /><br>
		<f:variable name="optInUrl"><kn:fixAbsoluteUrl><f:uri.action action="optinConfirm" absolute="1" arguments="{hash: hash, mail: mail}" /></kn:fixAbsoluteUrl></f:variable>
		<f:format.htmlentitiesDecode>
			<a href="{optInUrl}" target="_blank">
				{optInUrl}
			</a>
		</f:format.htmlentitiesDecode>
	</p>
	<f:comment>
	<f:render partial="Mail/DisclaimerLink" arguments="{_all}" />
	</f:comment>
	<p>KDN Dachverband kommunaler IT-Dienstleister</p>
	<p>
		Mühlenstraße 51 (Kreishausareal)<br>
		53721 Siegburg<br>
		Telefon:  +49 2241  999 1168<br>
		E-Mail: geschaeftsstelle@kdn.de</p>
</f:section>
