.form-check-table {
    margin-bottom: 15px;
}
.table-events th {
    background: #ccc;
}
.table-events td {
    padding: 3px 2px;
}
.file-control {
    margin-bottom: 6px;
}
.list-actions {
    margin-bottom: 20px;
}