.modal-newsletter-subscribe {
    display: none;
    margin-left: -7px;
    margin-right: -7px;
    max-width: 380px;
}
.modal-newsletter-subscribe.show {
    display: block;
}

#footer .link-footer-newsletter {
    display: block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.link-footer-newsletter:hover {
    color: #f8523c;
    text-decoration: none;
}
.link-footer-newsletter .label {
    display: block;
    font-size: 0.9375rem;
    margin-bottom: 6px;
}
.link-footer-newsletter .oi {
    font-size: 2.5rem;
    transition: color .2s ease-in-out;
}
.link-footer-newsletter .oi:hover,
.link-footer-newsletter .oi:focus {
    color: #f8523c;
}
.modal-newsletter-subscribe.fade {
    opacity: 0;
}
.has-inline-modal #content.has-modal {
    min-height: 360px;
}
.has-inline-modal #content.has-modal .container {
    padding-right: 340px;
}
.has-inline-modal #content.has-modal {
    position: relative;
}
#content.has-modal .modal-newsletter-subscribe {
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal-newsletter-subscribe .modal-content,
.modal-newsletter-subscribe .modal-body {
    border-radius: 0;
}
.modal-newsletter-subscribe .modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 0;
}
.modal-newsletter-subscribe .modal-icon {
    display: block;
    background: #f8523c;
    font-size: 32px;
    padding: .25rem .5rem 0 .5rem;
    margin: -.25rem .5rem -.25rem -1rem;
}
.modal-newsletter-subscribe .modal-header .close {
    color: #fff;
    padding: .25rem;
    margin: -.25rem -.25rem -.25rem auto;
}
.modal-newsletter-subscribe .modal-title {
    text-transform: uppercase;
}
.modal-newsletter-subscribe .modal-body {
    min-width: 280px;
    min-height: 320px;
}
.modal-newsletter-subscribe.loaded .modal-body {
    min-height: 0;
}
#footer.b-blau .modal-body p,
#footer.b-blau .modal-body {
    color: #212529;
}
.modal-newsletter-subscribe .modal-body-title,
#footer.b-blau .modal-newsletter-subscribe .modal-body-title {
    color: #215566;
    font-weight: bold;
    text-transform: uppercase;
}
#content.has-modal .modal-newsletter-subscribe .modal-content {
    border-width: 0 0 4px 4px;
    border-color: #215566;
    position: relative;
}
#content.has-modal .modal-newsletter-subscribe .modal-content::before,
#content.has-modal .modal-newsletter-subscribe .modal-content::after {
    content: "";
    display: block;
    background: #f8523c;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 4px;
}
#content.has-modal .modal-newsletter-subscribe .modal-content::after {
    width: 4px;
    height: 32px;
}
#content.has-modal .modal-newsletter-subscribe .modal-icon {
    background: transparent;
    font-size: 48px;
    margin-left: -.5rem;
}
#content.has-modal .modal-newsletter-subscribe .modal-title {
    font-size: 2rem;
}
#content.has-modal .modal-newsletter-subscribe .modal-header {
    border-width: 0;
    background: transparent;
    color: #f8523c;
    line-height: 1;
}
#content.has-modal .modal-newsletter-subscribe .modal-body {
    padding-top: .25rem;
}
#content.has-modal .modal-newsletter-subscribe .close {
    color: #f8523c;
    display: block;
    margin: 0;
    padding: .25rem;
    position: absolute;
    right: .5rem;
    top: .25rem;
}
.modal-newsletter-subscribe h2 {
    font-size: 1rem;
    max-width: 320px;
}
.modal-newsletter-subscribe .form-row {
    display: none;
}
.modal-newsletter-subscribe .form-row.show {
    display: block;
    font-size: 0.875rem;
    max-width: 100%;
}
.modal-newsletter-subscribe .form-row > div {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
}
.modal-newsletter-subscribe label {
    margin-bottom: 4px;
}
.modal-newsletter-subscribe .col-label {
    display: none;
}
.modal-newsletter-subscribe .btn-primary {
    background: #f8523c;
    text-align: center;
    border-color: #f8523c;
}
.footer-meta .link-footer-newsletter .label {
    font-size: 1rem;
}
.footer-meta .nav-item-newsletter {
    display: block;
    text-align: left;
    margin-top: 20px;
}
@media (min-width: 576px) {
    .modal-newsletter-subscribe {
        margin-left: 0;
        margin-right: 0;
    }
    .modal-newsletter-subscribe .form-row.show {
        max-width: 320px;
    }
}

@media (min-width: 1200px) {
    .modal-newsletter-subscribe {
        position: fixed;
        right: 10px;
        bottom: 150px;
        max-width: none;
        z-index: 100;
    }
    .modal-newsletter-subscribe .form-actions {
        text-align: center;
    }
    .modal-newsletter-subscribe .modal-body {
        min-width: 340px;
    }
    .footer-meta .nav-item.nav-item-newsletter {
        margin-left: auto;
        max-width: 150px;
        text-align: right;
        margin-top: 0;
    }
    .footer-meta .link-footer-newsletter {
        text-align: right;
    }
}
@media (min-width: 1300px) {
    .has-inline-modal #content .container {
        padding-right: 290px;
    }
}
@media (min-width: 1400px) {
    .has-inline-modal #content.has-modal .container {
        padding-right: 240px;
    }
}
@media (min-width: 1500px) {
    .has-inline-modal #content.has-modal .container {
        padding-right: 190px;
    }
}
@media (min-width: 1600px) {
    .has-inline-modal #content.has-modal .container {
        padding-right: 140px;
    }
}
@media (min-width: 1700px) {
    .has-inline-modal #content.has-modal .container {
        padding-right: 90px;
    }
}
@media (min-width: 1800px) {
    .has-inline-modal #content.has-modal .container {
        padding-right: 40px;
    }
}
@media (min-width: 1980px) {
    .has-inline-modal #content.has-modal .container {
        padding-right: 15px;
    }
}