<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<be:moduleLayout>
	<f:be.pageRenderer
			includeCssFiles="{0:'{f:uri.resource(path:\'Css/Backend.css\')}'}"
			includeRequireJsModules="{
			0:'TYPO3/CMS/Backend/ContextMenu'
		}"
	/>
<f:comment>
	<be:moduleLayout.menu identifier="KdnEventsModuleMenu">
		<be:moduleLayout.menuItem label="{f:translate(key: 'heading.registrations')}" uri="{f:uri.action(controller: 'Backend', action: 'list')}"/>
		<be:moduleLayout.menuItem label="{f:translate(key: 'heading.events')}" uri="{f:uri.action(controller: 'Backend', action: 'events')}"/>
		<be:moduleLayout.menuItem label="{f:translate(key: 'evaluation.heading')}" uri="{f:uri.action(controller: 'Evaluation', action: 'evaluation')}"/>
	</be:moduleLayout.menu>
</f:comment>
	<f:render section="Buttons" />
	<be:moduleLayout.button.shortcutButton />

	<f:render section="content" />
</be:moduleLayout>
</html>