{namespace kdn=KDN\KdnNewsletter\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Buttons">

</f:section>

<f:section name="content">
<h1>Anmeldungen</h1>

	<f:flashMessages as="flashMessages">
		<f:for each="{flashMessages}" as="flashMessage">
			<div class="alert {flashMessage.class}">
				<f:if condition="{flashMessage.title}">
					<strong>{flashMessage.title}</strong><br>
				</f:if>
				<p>{flashMessage.message -> f:format.html()}</p>
			</div>
		</f:for>
	</f:flashMessages>

	<f:if condition="{addresses}">
		<f:then>
			<div class="list-actions">
				<f:link.action action="export" class="btn btn-primary"><f:translate key="export.excel">Excel export</f:translate></f:link.action>
			</div>
			<table class="table table-bordered table-condensed table-events tx_kdnevents typo3-dblist">
				<tr class="c-headLine">
					<th>
						Nachname
					</th>
					<th>
						Vorname
					</th>
					<th>
						E-Mail
					</th>
					<th>
						Anrede
					</th>
					<th>
						Kategorien
					</th>
					<th> </th>
					<th> </th>
				</tr>

				<f:for each="{addresses}" as="address">
					<tr class="db_list_normal">
						<td>{address.lastName}</td>
						<td>{address.firstName}</td>
						<td><f:if condition="{address.email}"><a href="mailto:{address.email}">E-Mail</a></f:if> </td>
						<td>
							<f:switch expression="{address.gender}">
								<f:case value="m">Herr</f:case>
								<f:case value="f">Frau</f:case>
								<f:case value="d">Divers</f:case>
								<f:defaultCase>-</f:defaultCase>
							</f:switch>
						</td>
						<td>
							<f:for each="{address.categories}" as="category" iteration="fooIterator">
								{f:if(condition: fooIterator.isFirst, then: '', else: ', ')}
								{category.title}
							</f:for>
						</td>
						<f:comment>
						<td><f:format.date format="d.m.Y H:i:s">{address.crdate}</f:format.date></td>
						</f:comment>
						<td><f:format.raw><kdn:be.editLink object="{address}" table="tt_address" /></f:format.raw></td>
						<td><f:format.raw><kdn:be.editLink object="{address}" table="tt_address" action="clickmenu" /></f:format.raw></td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p>Keine Adressdatensätze vorhanden</p>
		</f:else>
	</f:if>

</f:section>