<f:layout name="Default" />

<f:section name="main">
	<f:switch expression="{formStep}">
		<f:case value="0">
			<f:render partial="Subscription/RequestEdit" arguments="{_all}"/>
		</f:case>
		<f:case value="1">
			<f:render partial="Subscription/RequestConfirm" arguments="{_all}"/>
		</f:case>
		<f:case value="99">
			<div class="alert alert-error">Das PlugIn ist nicht korrekt konfiguriert.</div>
		</f:case>
	</f:switch>
</f:section>